<p>Ahoy <%= @resource.email %>!</p>

<p>Someone (hopefully you) requested to change your password. Clicking the link below will take you to the next step:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p><em>Your password won't change until you access the link above and create a new one.</em></p>
